body {
  margin: -21px 0px 24px 0px;
}

p, ul, li {
  line-height: 24px;
  text-align: justify;
}

.strong {
  font-weight: bold;
}

.header {
  padding: 24px 24px 18px 24px;
  background-color: #43AAB4;
}

.header, .header a, .header a:visited {
  color: #ffffff;
  text-decoration: none;
}

.instructions {
  padding: 22px 20px 4px 20px;
  background-color: #f0f0f0;
}

.content {
  padding: 24px 20px 24px 24px;
}

.result {
  border: 1px dotted;
  margin-top: 22px;
  margin-bottom: 16px;
  padding: 2px 18px 2px 18px;
}

.result--negative {
  background-color: #99cc00;
}

.result--positive {
  background-color: #ff9933;
}

.result__label {
  font-size: 18px;
  font-weight: bold;
}

.footer {
  padding: 0px 24px 6px 24px;
  color: gray;
}

.footer hr {
  border: none;
  border-top: 1px dashed #cccccc;
}
