body {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

p, ul, li {
  line-height: 24px;
  text-align: justify;
}

ul {
  padding-left: 28px;
}

.strong {
  font-weight: bold;
}

.header {
  padding: 14px 24px 18px 24px;
  background-color: #43AAB4;
}

.header, .header a, .header a:visited {
  color: #ffffff;
  text-decoration: none;
}

.content {
  padding: 24px;
}

.result {
  margin: 26px 0px 16px 0px;
  padding: 2px 22px 2px 22px;
  border: 1px dashed;
}

.result--negative {
  background-color: #99cc00;
}

.result--positive {
  background-color: #ff9933;
}

.result__label {
  font-size: 18px;
  font-weight: bold;
}

.instructions, .api_access {
  padding: 24px 20px 6px 20px;
  background-color: #f0f0f0;
}

.footer {
  margin: 30px 0px 0px 0px;
  padding: 24px;
  border-top: 1px dashed #cccccc;
  color: gray;
}
